stages:
  - build

build:
  stage: build
  image: docker
  services:
    - docker:dind
  script:
    - echo "$DOCKER_KEY" | docker login -u "$DOCKER_USER" --password-stdin
    - docker build -t go-backend:v1.0 .
    - docker tag go-backend:v1.0 rayezcaroll/go-assignment:go-backend-v1.0
    - docker push rayezcaroll/go-assignment:go-backend-v1.0

